In [20]:
import sys
from importlib import reload

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

trackml_path = '/home/ec2-user/SageMaker/TrackML'
if trackml_path not in sys.path:
    sys.path.append(trackml_path)
    
from detector_grid import detector_grid
reload(detector_grid)

from helper_functions.file_utilities import file_url

hits = hit_binning.prep_hits(list(range(21000, 21011)))
grid_boundaries = hit_binning.make_bins(
    hits, 100, 100, 100, add_cols=True)

hits.head()

,hit_id,event_id,R,theta,x,y,z,detector_type,volume_id,layer_id,module_id,R_bin,theta_bin,z_bin
0,1,21000,88.037293,-1.738907,-86.7962,-14.73040,-1502.5,disk,7,2,1,"(87.784, 94.633]","(-1.767, -1.702]","(-1797.5, -1502.5]"
1,2,21000,69.562627,-1.728124,-68.7035,-10.89900,-1502.5,disk,7,2,1,"(67.866, 71.107]","(-1.767, -1.702]","(-1797.5, -1502.5]"
2,3,21000,56.937925,-1.738587,-56.1383,-9.50887,-1502.5,disk,7,2,1,"(54.496, 57.433]","(-1.767, -1.702]","(-1797.5, -1502.5]"
3,4,21000,60.516021,-1.653054,-60.3114,-4.97231,-1502.5,disk,7,2,1,"(57.433, 60.581]","(-1.702, -1.637]","(-1797.5, -1502.5]"
4,5,21000,89.839392,-1.669095,-89.4057,-8.81687,-1502.5,disk,7,2,1,"(87.784, 94.633]","(-1.702, -1.637]","(-1797.5, -1502.5]"

In [72]:
grid_boundaries.head()

           R     theta       z
0  30.055512 -3.141593 -2955.5
1  31.464728 -3.081229 -2945.5
2  31.613370 -3.018537 -2548.5
3  31.937015 -2.955412 -2152.5
4  32.018676 -2.891425 -2144.5

In [67]:
grid_boundaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 3 columns):
R        101 non-null float64
theta    101 non-null float64
z        101 non-null float64
dtypes: float64(3)
memory usage: 2.4 KB

In [2]:
hit_binning.write_boundaries_csv(list(range(21000, 21011)), 100, 100, 100)
grid_boundaries = pd.read_csv('/home/ec2-user/SageMaker/efs/detector_bin_arrays/grid_boundaries.csv')
grid_boundaries

               R     theta           z
0      30.055512 -3.141593 -2955.50000
1      31.464732 -3.081392 -2945.50000
2      31.613370 -3.018882 -2548.50000
3      31.937152 -2.955758 -2152.50000
4      32.020263 -2.891572 -2144.50000
5      32.191180 -2.826609 -1797.50000
6      32.564790 -2.768136 -1502.50000
7      33.038430 -2.705646 -1498.50000
8      33.610389 -2.645892 -1495.50000
9      34.478632 -2.581084 -1302.00000
10     36.782543 -2.517909 -1224.50000
11     39.103594 -2.455736 -1215.50000
12     41.377153 -2.390150 -1102.00000
13     43.749825 -2.332115 -1097.50000
14     46.283799 -2.269060  -989.80000
15     48.867603 -2.204647  -962.00000
16     51.626060 -2.142314  -958.00000
17     54.496446 -2.079120  -896.40513
18     57.433306 -2.019763  -822.50000
19     60.580835 -1.959571  -818.60000
20     64.099841 -1.896782  -817.50000
21     67.865647 -1.831441  -748.00000
22     71.106708 -1.767142  -702.00000
23     71.471520 -1.701986  -698.00000
24     71.706953 -1.637300  -697.50000
25     71.990682 -1.574140  -622.20000
26     72.357576 -1.510911  -602.00000
27     72.810638 -1.445812  -598.00000
28     73.362923 -1.382115  -580.20000
29     76.325517 -1.320205  -509.60000
..           ...       ...         ...
71    450.368637  1.312884   563.60000
72    489.812909  1.375870   598.00000
73    497.267315  1.439801   602.00000
74    499.047195  1.503035   602.50000
75    500.272417  1.566402   670.80000
76    501.670200  1.624679   698.00000
77    503.608295  1.690248   702.00000
78    520.424457  1.752250   708.40000
79    559.255965  1.816031   792.20000
80    601.558090  1.882806   818.00000
81    650.432978  1.942560   822.00000
82    657.631560  2.003502   846.20000
83    659.310886  2.064123   940.80000
84    660.752751  2.129631   958.00000
85    662.328875  2.189811   962.50000
86    665.254070  2.250162  1024.60000
87    773.023421  2.315581  1098.00000
88    815.947416  2.376356  1102.00000
89    818.468954  2.442706  1217.50000
90    819.910864  2.509390  1297.50000
91    821.612709  2.574942  1302.00000
92    824.336657  2.641454  1495.50000
93    869.261483  2.702439  1498.50000
94    900.679722  2.765411  1502.50000
95    962.913370  2.828650  1798.50000
96   1016.346606  2.893555  2145.50000
97   1018.799457  2.955744  2152.50000
98   1020.393502  3.018260  2548.50000
99   1022.140669  3.081568  2945.50000
100  1025.350415  3.141593  2955.50000

[101 rows x 3 columns]

In [6]:
hit_binning.bin_id(663., 2.2, 1000., grid_boundaries)

(86, 86, 86)

In [8]:
np.linspace(-1., 1., 10, endpoint=False)

array([-1. , -0.8, -0.6, -0.4, -0.2,  0. ,  0.2,  0.4,  0.6,  0.8])

In [10]:
hits.head()

,hit_id,event_id,R,theta,x,y,z,detector_type,volume_id,layer_id,module_id,R_bin,theta_bin,z_bin
0,1,21000,88.037293,-1.738907,-86.7962,-14.73040,-1502.5,disk,7,2,1,"(87.784, 94.633]","(-1.767, -1.702]","(-1797.5, -1502.5]"
1,2,21000,69.562627,-1.728124,-68.7035,-10.89900,-1502.5,disk,7,2,1,"(67.866, 71.107]","(-1.767, -1.702]","(-1797.5, -1502.5]"
2,3,21000,56.937925,-1.738587,-56.1383,-9.50887,-1502.5,disk,7,2,1,"(54.496, 57.433]","(-1.767, -1.702]","(-1797.5, -1502.5]"
3,4,21000,60.516021,-1.653054,-60.3114,-4.97231,-1502.5,disk,7,2,1,"(57.433, 60.581]","(-1.702, -1.637]","(-1797.5, -1502.5]"
4,5,21000,89.839392,-1.669095,-89.4057,-8.81687,-1502.5,disk,7,2,1,"(87.784, 94.633]","(-1.702, -1.637]","(-1797.5, -1502.5]"

In [15]:
grid_boundaries = hit_binning.make_grid_boundaries(hits, 100)

In [17]:
np.digitize(np.pi, grid_boundaries.theta)

array(101)

In [18]:
hits.head()

,hit_id,event_id,R,theta,x,y,z,detector_type,volume_id,layer_id,module_id,R_bin,theta_bin,z_bin
0,1,21000,88.037293,-1.738907,-86.7962,-14.73040,-1502.5,disk,7,2,1,"(87.784, 94.633]","(-1.767, -1.702]","(-1797.5, -1502.5]"
1,2,21000,69.562627,-1.728124,-68.7035,-10.89900,-1502.5,disk,7,2,1,"(67.866, 71.107]","(-1.767, -1.702]","(-1797.5, -1502.5]"
2,3,21000,56.937925,-1.738587,-56.1383,-9.50887,-1502.5,disk,7,2,1,"(54.496, 57.433]","(-1.767, -1.702]","(-1797.5, -1502.5]"
3,4,21000,60.516021,-1.653054,-60.3114,-4.97231,-1502.5,disk,7,2,1,"(57.433, 60.581]","(-1.702, -1.637]","(-1797.5, -1502.5]"
4,5,21000,89.839392,-1.669095,-89.4057,-8.81687,-1502.5,disk,7,2,1,"(87.784, 94.633]","(-1.702, -1.637]","(-1797.5, -1502.5]"

In [21]:
dg = detector_grid.DetectorGrid()

NameError: name 'detector_grid' is not defined